body{
    background-size:cover;
    background-attachment: fixed;
    background-image: url("../images/paoCadastro.jpg");
}

.botaoCadastro{
        cursor: pointer;
}

.botaoCadastro:hover {
    background-color: green;
}