.produtos {
  display: flex;
  gap: 20px;
}

.produto {
  text-align: center;
}

.produto img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* mantém proporção */
  border-radius: 8px; /* opcional, deixa arredondado */
}

body{
    background-color: bisque;
}

h2 {
    text-align: center;
}